<style>
    a {
        text-decoration: none;
    }
    a:hover {
        color: red;
    }
    .context-menu {
        position: absolute;
        text-align: center;
        background: lightgray;
        border: 1px solid black;
    }

    .context-menu ul {
        padding: 0px;
        margin: 0px;
        min-width: 150px;
        list-style: none;
    }

    .context-menu ul li {
        padding-bottom: 7px;
        padding-top: 7px;
        border: 1px solid black;
    }

    .context-menu ul li a {
        text-decoration: none;
        color: black;
    }

    .context-menu ul li:hover {
        background: darkgray;
    }
</style>
<script type="text/javascript" 
src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">  
</script>
<script>
function deleteFile(path, name) {
    const Http = new XMLHttpRequest();
    const url=`/api/delete${path}/${name}`.replace('view/', '');
    Http.open("GET", url);
    Http.send();

    Http.onreadystatechange = (e) => {
        if (Http.status == 200) {
            Http.abort()
            window.location.reload();
        }
    }
}
function downloadFile(path, name) { 
    const Http = new XMLHttpRequest();
    const url=`/api/download${path}/${name}`.replace('view/', '');
    Http.open("GET", url);
    Http.send();

    Http.onreadystatechange = (e) => {
        if (Http.status == 200) {
            console.log(Http)
            var a = document.createElement('a');
            a.href = Http.responseText;
            a.download = name;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            Http.abort()

        }
    }
}

</script>
<div id="contextMenu" class="context-menu" 
style="display:none">
<ul>
    <li><a id="contextMenuDelete" onclick="console.log('I love placeholders')">Delete Item</a></li>
    <li><a id="contextMenuDownload" onclick="console.log('I love placeholders')">Download Item</a></li>

</ul>
</div>
<br>
<button onclick="window.location.href='/upload'">Upload Files</button>
<br>
<ul style="vertical-align:center; list-style-position: inside; max-width: 80%; text-align: left;">
    {% for folder in files %}
    <li>
        <a id="{{loop.index}}" href="{{ (request.path + '/' if request.path != '/' else '') + folder }}">
           <img src=" /icons/folder.png" style="max-width:25; height: auto; vertical-align:middle;">
           <p style=" display:inline-block;margin-bottom: 10px;padding-left: 5px;">{{ folder }}</p>
        </a>
    </li>
    {% endfor %}
    {% for file in folders %}
    <li>
        <a id="{{loop.index + files|length}}" href="{{ (request.path + '/' if request.path != '/' else '') + file }}"> 
           <img src="/icons/{{file.split('.')[1]}}.png" style="max-width:25; height: auto; vertical-align:middle;" onerror="if (this.src != '/icons/file.png') this.src = '/icons/file.png';">
           <p style=" display:inline-block;margin-bottom: 10px;padding-left: 5px;">{{ file }}</p>
        </a>
    </li>
    {% endfor %}
    {% if back == True %}
        <li>
            {% if request.path.split('/')[-2] == '' %}
                {% set path = '/' %}
            {% else %}
                {% set path = request.path.split('/')[-2] %}
            {% endif %}
            <a href="{{ path[5:] if path[5:] != '' else '/' }}">
                <img src="/icons/back.png" style="max-width:25; height: auto; vertical-align:middle;">
                <p style=" display:inline-block;margin-bottom: 10px;padding-left: 5px;">Back</p>
        </li>
    {% endif %}
</ul>

<script>

    $('a').contextmenu( function(e){
        e.preventDefault()

        if (document.getElementById(
                "contextMenu").style.display == "block")
                hideMenu();
            else {
                var menu = document
                    .getElementById("contextMenu")
                
                document.getElementById("contextMenuDelete").onclick = function() {
                    deleteFile('{{request.path}}', e.target.innerText)
                }

                document.getElementById("contextMenuDownload").onclick = function() {
                    downloadFile('{{request.path}}', e.target.innerText)
                }

                menu.style.display = 'block';
                menu.style.left = e.pageX + "px";
                menu.style.top = e.pageY + "px";
            }
    })

    function hideMenu() {
        document.getElementById("contextMenu")
            .style.display = 'none';
    }

    document.onclick = hideMenu;

</script>